<footer>
  <center>
    <br></br>
    <img src="https://media4.giphy.com/media/J93sVmfYBtsRi/200.webp?cid=ecf05e47nyler7pilj6edhe8qhasj39tkk4tsqkw20mskl4f&rid=200.webp&ct=g"</img>
  </center>
</footer>
